*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[class^='col'] {
    padding: 20px;
    background-color: orange;
    color: black;
    border: 1px solid black;
    text-align: center;
}
section{
    padding: 5px;
}